<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderInfo">

    <!-- 查询所有订单信息 -->
    <select id="findAllOrder" resultType="OrderInfo">
        select * from orders
    </select>

    <!-- 条件查询, 根据订单编码查询对应订单内容 -->
    <select id="findOrderByOrderCode" parameterType="String" resultType="OrderInfo">
        select * from orders t where t.order_code = #{order_code}
    </select>

    <!-- 条件查询, 根据订单id查询对应订单内容 -->
    <select id="findOrderById" parameterType="int" resultType="OrderInfo">
        select * from orders t where t.id = #{id}
    </select>

    <!-- 模糊查询 -->
    <select id="findOrderByOrderNameLike" resultType="OrderInfo" parameterType="String">
        select * from orders t where t.order_name like concat(concat('%', #{order_name}, '%'))
    </select>

    <!-- 新增订单 -->
    <insert id="addOrder" parameterType="OrderInfo">
        insert into orders(order_code, order_name, order_status) values(#{order_code}, #{order_name}, #{order_status})
    </insert>

    <!-- 修改订单 -->
    <update id="updateOrder" parameterType="OrderInfo">
        update orders set order_name = #{order_name} where id = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="deleteOrder" parameterType="int">
        delete from orders where id = #{id}
    </delete>
</mapper>
